:root {
--spacing-xxxxxxl: 3.5rem;
--spacing-xxxxxl: 3rem;
--spacing-xxxxl: 2.5rem;
--spacing-xxxl: 2rem;
--spacing-xxl: 1.75rem;
--spacing-xl: 1.5rem;
--spacing-l: 1.25rem;
--spacing-m: 1rem;
--spacing-s: 0.75rem;
--spacing-xs: 0.5rem;
--spacing-xxs: 0.25rem;
--spacing-xxxs: 0.125rem;
--spacing-min: 0rem;
--radius-btn-round: 6rem;
--radius-btn-l: 0.5rem;
--radius-btn-m: 0.375rem;
--radius-btn-s: 0.25rem;
--radius-btn-xs: 0.125rem;
--radius-btn-min: 0rem;
--radius-pop-dialog: 0.5rem;
--radius-pop-action-sheets: 0.5rem;
--radius-pop-dropdown: 0.375rem;
--radius-pop-popover: 0.25rem;
--radius-pop-toast: 0.25rem;
--radius-pop-tips: 0.25rem;
--radius-ct-xxxl: 1.25rem;
--radius-ct-xxl: 1rem;
--radius-ct-xl: 0.75rem;
--radius-ct-l: 0.5rem;
--radius-ct-m: 0.375rem;
--radius-ct-s: 0.25rem;
--radius-ct-min: 0.125rem;
--color-question: rgba(77, 166, 159, 0.05);
--color-m1: #49A3A6;
--color-m1-10: rgba(135, 65, 255, 0.1);
--color-m1-20: rgba(135, 65, 255, 0.2);
--color-m2: #2196F3;
--color-m2-10: rgba(33, 150, 243, 0.1);
--color-m2-20: rgba(33, 150, 243, 0.2);
--color-m3: #2A9B7D;
--color-m3-10: rgba(42, 155, 125, 0.1);
--color-m3-20: rgba(42, 155, 125, 0.2);
--color-m4: #E05357;
--color-m4-10: rgba(224, 83, 87, 0.1);
--color-m4-20: rgba(224, 83, 87, 0.2);
--color-m5: #E6A91A;
--color-m6: #FF9800;
--color-m7: rgba(0, 0, 0, 0.5000);
--color-n10: #000000;
--color-n9: rgba(0, 0, 0, 0.9000);
--color-n7: rgba(0, 0, 0, 0.7000);
--color-n5: rgba(0, 0, 0, 0.5000);
--color-n3: rgba(0, 0, 0, 0.3000);
--color-n2: rgba(0, 0, 0, 0.2000);
--color-n1: rgba(0, 0, 0, 0.1000);
--color-n05: rgba(0, 0, 0, 0.0500);
--color-n-r10: #ffffff;
--color-n-r9: rgba(255, 255, 255, 0.9000);
--color-n-r7: rgba(255, 255, 255, 0.7000);
--color-n-r5: rgba(255, 255, 255, 0.5000);
--color-n-r3: rgba(255, 255, 255, 0.3000);
--color-n-r2: rgba(255, 255, 255, 0.2000);
--color-n-r1: rgba(255, 255, 255, 0.1000);
--color-n-r05: rgba(255, 255, 255, 0.0500);
--color-b0: #f6f6f6;
--color-b0-sidebar: #2A2A38;
--color-b0-special: #405453;
--color-b0-primary: #F6F6F6;
--color-b10: #ffffff;
--color-b9: rgba(255, 255, 255, 0.9000);
--color-b7: rgba(255, 255, 255, 0.7000);
--color-b5: rgba(255, 255, 255, 0.5000);
--color-b3: rgba(255, 255, 255, 0.3000);
--color-b2: rgba(255, 255, 255, 0.2000);
--color-b1: rgba(255, 255, 255, 0.1000);
--color-b07: rgba(255, 255, 255, 0.0700);
--color-b05: rgba(255, 255, 255, 0.0500);
--color-b03: rgba(255, 255, 255, 0.0300);
--color-b02: rgba(255, 255, 255, 0.0200);
--color-b-r10: #000000;
--color-b-r9: rgba(0, 0, 0, 0.9000);
--color-b-r7: rgba(0, 0, 0, 0.7000);
--color-b-r5: rgba(0, 0, 0, 0.5000);
--color-b-r3: rgba(0, 0, 0, 0.3000);
--color-b-r2: rgba(0, 0, 0, 0.2000);
--color-b-r1: rgba(0, 0, 0, 0.1000);
--color-b-r07: rgba(0, 0, 0, 0.0700);
--color-b-r05: rgba(0, 0, 0, 0.0500);
--color-b-r03: rgba(0, 0, 0, 0.0300);
--color-b-r02: rgba(0, 0, 0, 0.0200);
--color-b-btn-primary: #49A3A6;
--color-b-btn-secondary: rgba(0, 0, 0, 0.0500);
--color-b-btn-primary-reverse: #ffffff;
--color-b-btn-secondary-reverse: rgba(7, 7, 7, 0);
--color-b-btn-disable: rgba(0, 0, 0, 0.0500);
--color-b-btn-disable-reverse: rgba(255, 255, 255, 0.1000);
--color-b-topbar: rgba(255, 255, 255, 0.5000);
--color-b-dialog: #ffffff;
--color-b-action-sheets: #ffffff;
--color-b-popover: #ffffff;
--color-b-toast: #000000;
--color-b-dropdown: #ffffff;
--color-b-tips: #ffffff;
--color-l9: rgba(0, 0, 0, 0.9000);
--color-l7: rgba(0, 0, 0, 0.7000);
--color-l5: rgba(0, 0, 0, 0.5000);
--color-l3: rgba(0, 0, 0, 0.3000);
--color-l2: rgba(0, 0, 0, 0.2000);
--color-l12: rgba(0, 0, 0, 0.1200);
--color-l07: rgba(0, 0, 0, 0.0700);
--color-l05: rgba(0, 0, 0, 0.0500);
--color-l02: rgba(0, 0, 0, 0.0200);
--color-l-r12: rgba(255, 255, 255, 0.1200);
--color-l-r07: rgba(255, 255, 255, 0.1000);
--color-l-r02: rgba(255, 255, 255, 0.0200);
--color-r10: rgba(255, 255, 255, 1);
--color-r9: rgba(255, 255, 255, 0.9000);
--color-r7: rgba(255, 255, 255, 0.7000);
--color-r5: rgba(255, 255, 255, 0.5000);
--color-r3: rgba(255, 255, 255, 0.3000);
--color-r2: rgba(255, 255, 255, 0.2000);
--color-r1: rgba(255, 255, 255, 0.1000);
--color-r05: rgba(255, 255, 255, 0.0500);
--color-r02: rgba(255, 255, 255, 0.0200);
}
